
.main__div--color{
  height:100vh;
  padding: 20px;
  background-color: rgb(240, 233, 233);
}

.main__div--overlay {
  padding: 50px;
  background-color: rgb(157, 9, 9);
}

.main__flexbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}